* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Arial, Tahoma, Serif;
    
}

h1{
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 1.75rem;
}

.row {
    width: 100%;
}

section {
    background-color: rgba(198, 206, 211, 0.829);
    border: 1px solid black;
    padding: 50px 20px 20px 20px;
    width: 100%;
    position: relative;
}
 section > p {
    text-indent: 50px;
 }

.item {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.25rem;
    border: 1px solid black;
    width: 200px;
    float: right;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

._1 {
    background-color: rgba(200, 100, 162, 0.5);
}

._2 {
    background-color: rgba(200, 200, 100, 0.5);
}

._3 {
    background-color: rgba(200, 168, 100, 0.5);
}

.pad {
    padding: 0px 10px 10px 10px;
}



/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }

    .noRightPad {
        padding-right: 0px;
    }

    section {
        height: 350px;
    }

    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }

    section {
        height: 300px;
    }

    .noLeftPad {
        padding-left: 0px;
    }

    .third {
        padding-left: 10px;
    }

    .medHeight {
        height: 150px;
    }

    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }